body{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 120px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 85px;
    font-size: 18px;
}

.firstName{
    font-weight: bolder;
    color: rgb(191, 1, 1);
}

.lastName{
    font-weight: bold;
    color: rgb(42, 10, 10);
}

.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.list a{
    text-decoration: none;
    color: black;
}

li{
    padding: 0px 28px 0px 28px;
}

.button-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 85px 30px 0px;
    border: 2px solid rgb(191, 1, 1);
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
}

.contact a{
    text-decoration-line: none;
    color: rgb(191, 1, 1);
}

/* CONTAINER PROFILE */
.container-profile{
    display: flex;
    /* background-color: #fff5f5;  */
    height: 620px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* padding: 0px 90px; */
}

.intro{
    width: 45%;
}


.intro p{
    text-align: justify;
}

.download{
    display: flex;
    width: 170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(191, 1, 1);
    border-radius:7px;
}


.photo-profile{
    width: 35%;
    padding-left: 50px;
}
.photo-profile img{
    display: flex;
    width: 100%;
}


.rectangle{
    height: 3px;
    width: 250px;
    border-radius: 20px;
    background-color: black;
}

.name{
    color: red;
}
.inline{
    display: inline;
}