html{
    scroll-behavior: smooth;

}
body{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

/* NAVBAR */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 85px;
    font-size: 18px;
}

.firstName{
    font-weight: bolder;
    color: rgb(191, 1, 1);
}

.lastName{
    font-weight: bold;
    color: rgb(42, 10, 10);
}

.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.list a{
    text-decoration: none;
    color: black;
}

li{
    padding: 0px 28px 0px 28px;
}

.button-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 85px 30px 0px;
    border: 2px solid rgb(191, 1, 1);
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
}

.contact a{
    text-decoration-line: none;
    color: rgb(191, 1, 1);
}

/* CONTAINER PROFILE */
.container-profile{
    display: flex;
    height: calc(100vh - 100px);
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.intro{
    width: 45%;
}


.intro p{
    text-align: justify;
}

.download{
    display: flex;
    width: 170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(191, 1, 1);
    border-radius:7px;
}


.photo-profile{
    width: 35%;
    padding-left: 50px;
}
.photo-profile img{
    display: flex;
    width: 100%;
}


.rectangle{
    height: 3px;
    width: 250px;
    border-radius: 20px;
    background-color: black;
}

.name{
    font-size: 40px;
    color: red;
}
.inline{
    display: inline;
}

.about{
    height: calc(100vh - 100px);   /* minimal 1 layar */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

    /* background-color: rgb(191, 1, 1); */
    /* background-color: #fff5f5; */
}
.about-content{
    height: calc(100vh - 200px );
    /* box-shadow: 0 8px 25px rgba(0,0,0,0.08); */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    margin:0px 85px;
    background-color: white;
    border-radius: 10px;
}
.about-text{
    width: 50%;
}
.about-text h1{
    padding: 60px 60px 0px 60px;
    font-size: 28px;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}
.about-text p{
    padding: 0px 60px 0px 60px;
    font-family: 'LibreBaskerville-Regular',Palatino Linotype,Times New Roman,serif;
}
.about-text2 {
    height: calc(100vh - 200px );
    /* display: flex; */
    width: 50%;
    /* margin:0px 85px; */
    background-color: rgb(191, 1, 1);
    color: rgba(250, 250, 250, 0.9);
    border-radius: 0px 10px 10px 0px;
}
.about-text2 h1{
    padding: 60px 60px 0px 60px;
    font-size: 28px;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}
.about-text2 p{
    padding: 0px 60px 0px 60px;
    font-family: 'LibreBaskerville-Regular',Palatino Linotype,Times New Roman,serif;
}
.about-me-list{
    margin: 0;
    margin-top: 35px;
    margin-left: 55px;
    padding: 0;
    width: 100%;
    list-style: none;
    display: block;
}
.about-me-list li{
    padding: 0;
    /* margin-top: 10px; */
    float: left;
    clear: none;
    width: 13%;
    margin-left: 0;
    margin-right: 2%;
    position: relative;
    text-align: center;
}
.about-me-list li .about-me-list-label{
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;

}
.about-me-list li svg{
    width: 60px;
    height: 60px;
    margin: 0;
    /* display: block; */
}