html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100vh; */
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

/* NAVBAR */
nav{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 85px;
    font-size: 18px;
}

.firstName{
    font-weight: bolder;
    color: rgb(191, 1, 1);
}

.lastName{
    font-weight: bold;
    color: rgb(42, 10, 10);
}

.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.list a{
    text-decoration: none;
    color: black;
}

li{
    padding: 0px 28px 0px 28px;
}

.button-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 85px 30px 0px;
    border: 2px solid rgb(191, 1, 1);
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
}

.contact a{
    text-decoration-line: none;
    color: rgb(191, 1, 1);
}

/* CONTAINER PROFILE */
.container-profile{
    display: flex;
    height: calc(100vh - 100px);
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.intro{
    width: 45%;
}


.intro p{
    text-align: justify;
}

.download{
    display: flex;
    width: 170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(191, 1, 1);
    border-radius:7px;
}


.photo-profile{
    width: 35%;
    padding-left: 50px;
}
.photo-profile img{
    display: flex;
    width: 100%;
}


.rectangle{
    height: 3px;
    width: 250px;
    border-radius: 20px;
    background-color: black;
}

.name{
    font-size: 40px;
    color: red;
}
.inline{
    display: inline;
}

.about{
    height: calc(100vh - 100px); 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    padding-bottom: 50px;
}
.about-content{
    /* box-shadow: 0 8px 25px rgba(0,0,0,0.08); */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    margin:0px 85px;
    background-color: white;
    border-radius: 10px;
}
.about-text{
    width: 50%;
}
.about-text h1{
    padding: 60px 60px 0px 60px;
    font-size: 28px;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}
.about-text p{
    padding: 0px 60px 0px 60px;
    font-family: 'LibreBaskerville-Regular',Palatino Linotype,Times New Roman,serif;
}
.about-text2 {
    height: calc(100vh - 200px );
    /* display: flex; */
    width: 50%;
    /* margin:0px 85px; */
    background-color: rgb(191, 1, 1);
    color: rgba(250, 250, 250, 0.9);
    border-radius: 0px 10px 10px 0px;
}
.about-text2 h1{
    padding: 60px 60px 0px 60px;
    font-size: 28px;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}
.about-text2 p{
    padding: 0px 60px 0px 60px;
    font-family: 'LibreBaskerville-Regular',Palatino Linotype,Times New Roman,serif;
}
.about-me-list{
    margin: 0;
    margin-top: 35px;
    margin-left: 55px;
    padding: 0;
    width: 100%;
    list-style: none;
    display: block;
}
.about-me-list li{
    padding: 0;
    /* margin-top: 10px; */
    float: left;
    clear: none;
    width: 13%;
    margin-left: 0;
    margin-right: 2%;
    position: relative;
    text-align: center;
}
.about-me-list li .about-me-list-label{
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;

}
.about-me-list li svg{
    width: 60px;
    height: 60px;
    margin: 0;
    /* display: block; */
}
.project-section {
    background: linear-gradient(135deg, #8b0000, #ff1e1e);
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.project-title {
    background: #e6e6e6;
    display: inline-block;
    padding: 8px 80px;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 900;
    /* margin-bottom: 60px; */
    color: #DA0000;
}

.slider-container {
    /* position: relative; */
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

.card {
    background: #f2f2f2;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    /* width: 90%; */
}

/* Image FULL tanpa padding */
.card-image img {
    width: 100%;
    display: block;
}

/* Padding hanya untuk tulisan */
.card-content {
    text-align: left;
    padding: 20px;
}


.tags span {
    display: inline-block;
    background: #ddd;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 5px 5px 0 0;
    font-size: 13px;
}

/* Arrow */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 45px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10;
}

/* Kiri */
.arrow.left {
    left: 40px;
}

/* Kanan */
.arrow.right {
    right: 40px;
}


.left { left: 0; }
.right { right: 0; }

/* Dots */
.dots {
    margin: 10px 0px;
}

.dots span {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    display: inline-block;
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
}

.dots .active-dot {
    opacity: 1;
}

.card-content h4{
    margin: 10px 0px;
}
.card-content h3{
    margin: 10px 0px;
}